<footer>
  <a
    href="https://github.com/mkantor/operator-website/blob/master/content{{request-route}}.html.hbs"
    >This page</a
  >
  is served by Operator. You can <a href="run-this-site">run it locally</a>.
</footer>
