<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Operator Web Server</title>
    <meta name="author" content="Matt Kantor" />
    <meta name="description" content="A web server for static and dynamic content." />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/decoration.css" />
  </head>
  <body>
    {{> @partial-block}}
  </body>
</html>
