{{#> _page.html.hbs}}
  <script defer src="/install-chooser.js"></script>

  {{get "/_header"}}

  <article>
    <p>
      <strong>Operator is a web server.</strong> You provide
      <a href="https://github.com/mkantor/operator-website/tree/master/content">a directory</a>
      and Operator serves it over HTTP.
    </p>
    <p>
      It serves static files the way you'd expect, but it can also serve dynamic content that is generated at request
      time by handlebars templates or executables (for example, this page was loaded at
      <a href="https://github.com/mkantor/operator-website/blob/master/content/examples/now.html.sh"
        ><code>{{get "/examples/now"}}</code></a
      >).
    </p>

    <p>⚠️ <strong>Operator is alpha!</strong> Please don't use it for anything important yet.</p>
  </article>

  <article>
    <h2>Installation</h2>

    <p>
      Operator is a single self-contained binary, with
      <a href="https://github.com/mkantor/operator/releases">releases hosted on GitHub</a>. You can get the latest
      release like so:
    </p>

    <div class="install-instructions">
      <details>
        <summary>Linux <small>x86-64</small></summary>
        {{>_install-commands.html.hbs
          os="linux"
          version="0.1.2"
          hash="6f1fe37a11e28f55c2c7ccc9844c9b6c692e9cb33ff73a3c938ed57f706d8ba1"
        }}
      </details>

      <details>
        <summary>macOS <small>x86-64</small></summary>
        {{>_install-commands.html.hbs
          os="macos"
          version="0.1.2"
          hash="75a813b51a09b8988b09561bb94cb87f21466dd4daadc0f72308f916f4f53746"
        }}
      </details>
    </div>
  </article>

  {{get "/_footer"}}
{{/_page.html.hbs}}
