{{#> _page.html.hbs}}
  <script defer src="/install-chooser.js"></script>

  {{get "/_header"}}

  <article>
    <p>
      <strong>Operator is a web server.</strong> You provide
      <a href="https://github.com/mkantor/operator-website/tree/master/content"
        >a directory</a
      >
      and Operator serves it over HTTP.
    </p>
    <p>
      It serves static files the way you'd expect, but it can also serve dynamic
      content that is generated at request time by handlebars templates or
      executables (for example, this page was loaded at
      <a
        href="https://github.com/mkantor/operator-website/blob/master/content/examples/now.html.sh"
        ><code>{{get "/examples/now"}}</code></a
      >).
    </p>

    <p>
      ⚠️ <strong>Operator is extremely alpha!</strong> Please don't use it for
      anything important until there's a 1.0 release.
    </p>
  </article>

  <article>
    <h2>Installation</h2>

    <p>
      Operator is a single self-contained binary, with
      <a href="https://github.com/mkantor/operator/releases"
        >releases hosted on GitHub</a
      >. You can get the latest release like so:
    </p>

    <div class="install-instructions">
      <details>
        <summary>Linux</summary>
        {{>_install-commands.html.hbs
          os="linux"
          version="0.0.3"
          hash="04c95cfd90252ed993edf2bce04de54ef249d55b489239576b2415d64b9f6401"
        }}
      </details>

      <details>
        <summary>macOS</summary>
        {{>_install-commands.html.hbs
          os="macos"
          version="0.0.3"
          hash="224685dacf8eb02ab0e8065b0e981bea3148f6479b3113160bfc0740e094d9d5"
        }}
      </details>
    </div>
  </article>

  {{get "/_footer"}}
{{/_page.html.hbs}}
