{{#> _page.html.hbs}}
  <script defer src="/install-chooser.js"></script>

  {{get "/_header"}}

  <article>
    <p>
      <strong>Operator is a web server.</strong> You provide
      <a href="https://github.com/mkantor/operator-website/tree/master/content">a directory</a>
      and Operator serves it over HTTP.
    </p>

    <p>
      It serves static files the way you'd expect, but can also serve dynamic content that is generated at request
      time by handlebars templates or executables. For example, during your request
      <a href="https://github.com/mkantor/operator-website/blob/master/content/examples/now.html.sh">a script</a> ran
      on the server to timestamp this page: <code>{{get "/examples/now"}}</code>.
    </p>

    <p>⚠️ <strong>Operator is alpha!</strong> Please don't use it for anything important yet.</p>
  </article>

  <article>
    <h2>Installation</h2>

    <p>
      Operator is a single self-contained binary, with
      <a href="https://github.com/mkantor/operator/releases">releases hosted on GitHub</a>. You can get the latest
      release like so:
    </p>

    {{!-- TODO: Improve code style here once <https://github.com/sunng87/handlebars-rust/pull/518> lands. --}}
    <div class="install-instructions">
      <details>
        <summary>Linux <small>x86-64</small></summary>
{{~>_install-commands.html.hbs
  os="linux"
  version=(get "/_current-operator-release/version")
  hash=(get "/_current-operator-release/hash-linux-x86-64")
~}}
      </details>

      <details>
        <summary>macOS <small>x86-64</small></summary>
{{~>_install-commands.html.hbs
  os="macos"
  version=(get "/_current-operator-release/version")
  hash=(get "/_current-operator-release/hash-macos-x86-64")
~}}
      </details>
    </div>
  </article>

  {{get "/_footer"}}
{{/_page.html.hbs}}
